@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-flow: column;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-self: stretch;
  justify-items: center;
  align-content: space-between;
  grid-auto-flow: row;
}

img {
  height: 200px;
  width: 200px;
  border: 3px solid gold;
  border-radius: 1px;
}
